#
# Copy content below to file credentials-production.properties (which is gitignored) and set production credentials
#

# Production credentials: JDBC, mail, etc. (selected by credentials-selection.properties in deployment builds)

# DB:
jdbc.url=jdbc:postgresql://localhost/paw-2026a-11
jdbc.username=paw-2026a-11
jdbc.password=PASSWORD_HERE

# Mail:
mail.host=smtp.example.com
mail.port=587
mail.username=botecito.dev@gmail.com
mail.password=PASSWORD_HERE
